#page_header_holder {
  padding-top: 2vh;
  padding-left: 15vh;
  padding-right: 4vh;
}

#page_item_type {
  color: #ffffff;
  display: inline-block;
  height: auto;
  width: auto;
  font-size: 2.5vh;
  background-color: #88304e;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  border-radius: 2vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#page_item_url {
  display: inline-block;
  font-size: 2vh;
  margin-left: 5vh;
}

#page_item_holder {
  background-color: #e23e57;
  border-radius: 10vh;
  margin-top: 10vh;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-bottom: 5vh;
}

#page_item_url {
  color: white;
  font-size: 3vh;
}

#page_item_title {
  text-align: center;
  font-size: 4vh;
  color: white;
  padding-top: 3vh;
}

#page_item_body_example_holder {
  width: 100vh;
}

#page_item_body_holder {
  padding-left: 15vh;
}

#page_item_body_title {
  margin-top: 3vh;
  font-size: 2.5vh;
  width: auto;
  color: white;
  margin-bottom: 3vh;
}

.data-type-label {
  color: #88304e;
}

.string-value {
  color: white;
}

.object-size {
  color: #88304e;
}

#page_item_bottom_margin {
  height: 10vh;
  width: 100%;
}
