#detail_page_holder {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#detail_page_background {
  width: auto;
  height: auto;
  margin-top: 10vh;
  background-color: #e23e57;
  border-radius: 10vh;
}

#youtube_video {
  border-radius: 50px;
  margin-top: 5vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

#detail_page_title {
  font-size: 30px;
  text-align: left;
  padding-left: 11vh;
  margin-top: 2vh;
  color: white;
}

#detail_page_description {
  width: 1000px;
  margin-left: 11vh;
  margin-right: 5vh;
  text-align: left;
  font-size: 25px;
  margin-top: 20px;
  color: white;
}

#detail_page_subtitle_text {
  text-align: left;
  margin-left: 11vh;
  font-size: 20px;
  color: #dbdbdb;
}
